<div [@fadeInOut]="in" *ngIf="pokemon$ | async; let pokemon" class="wrapper">
  <div
  flex
  fxLayout="row"
  fxLayout.xs="column"
  class="info-container">
    <app-title *ngIf="isMobile" [pokemon]="pokemon"></app-title>
    <div
      flex
      fxLayout="column"
      fxFlex.gt-lg="45%"
      fxFlex.gt-md="-8%"
      fxFlex.md="25%"
      fxFlex.lg="30%"
      fxFlex.sm="26%"
      fxFlex.xs="50%"
      fxFlex="8%"
      fxLayoutAlign="flex-end start"
      fxLayoutAlign.xs="start center"
      class="left-container">
      <div fxFlex="50%">
        <img [height]="height" src="{{pokemon.image }}" class="pokemon-image"/>
        <div class="pokemon-info">
          <span class="pokemon-name">{{pokemon.name}}</span>
          <span class="pokemon-id">{{pokemon.getFormattedId()}}</span>
          <mat-chip-list flex>
            <ng-container *ngFor="let type$ of pokemon.types">
                <mat-chip
                *ngIf="type$ |async as type"
                [ngStyle]="{'background-color': color[type.name] }"
                selected>
                {{ type.name }}
               </mat-chip>
            </ng-container>
          </mat-chip-list>
        </div>
      </div>
    </div>
    <div
      flex fxLayout="column"
      class="metadata-container"
      gdAlignRows.xs="center center"
      gdAlignRows.gt-xs="stretch stretch">
      <app-title *ngIf="!isMobile" [pokemon]="pokemon"></app-title>
      <app-stats [pokemon]="pokemon"></app-stats>
      <app-evolutions  fxFlex="35%" *ngIf="pokemon.species | async; let species" [species]="species"></app-evolutions>
   </div>
  </div>
</div>
